<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>规格管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--引入Vue相关JS-->
    <script src="../plugins/Vue/vuejs-2.5.16.js"></script>
    <script src="../plugins/Vue/axios-0.18.0.js"></script>
    <!--引入Vue前端逻辑JS-->
    <script src="../js/controller/specificationController.js"></script>
    <!--分页插件-->
    <script src="../plugins/Vue/pagination.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div id="app">
    <div class="box-header with-border">
        <h3 class="box-title">规格管理</h3>
    </div>
    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" @click="entity={specification:{},specificationOptionList:[]}"
                                class="btn btn-default"
                                title="新建" data-toggle="modal"
                                data-target="#editModal"><i class="fa fa-file-o"></i> 新建
                        </button>
                        <button @click="dele()" type="button" class="btn btn-default" title="删除"><i
                                class="fa fa-trash-o"></i> 删除
                        </button>

                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                                class="fa fa-refresh"></i> 刷新
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    规格名称：<input v-model="searchEntity.specName">
                    <button @click="findPage(1);goPage(1)" class="btn btn-default">查询</button>
                </div>
            </div>
            <!--工具栏/-->
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">规格ID</th>
                    <th class="sorting">规格名称</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="spec in list">
                    <td><input :value="spec.id" v-model="ids" type="checkbox"></td>
                    <td>{{spec.id}}</td>
                    <td>{{spec.specName}}</td>
                    <td class="text-center">
                        <button @click="getById(spec.id)" type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                                data-target="#editModal">
                            修改
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <!--数据列表/-->
        </div>
        <!-- 数据表格 /-->
        <!--分页插件{pages:总页数,current.sync:当前页,navpage:分页插件刷新数据调用的方法}
            其中声明findPage要注意接收当前页的变量：findPage(pageNo)
            注意：上面提到的变量需要在Vue中声明-->
        <navigation :pages="pages" :current.sync="pageNo" @navpage="findPage"></navigation>

    </div>
    <!-- /.box-body -->


    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">规格编辑</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>规格名称</td>
                            <td><input v-model="entity.specification.specName" class="form-control" placeholder="规格名称">
                            </td>
                        </tr>
                    </table>

                    <!-- 规格选项 -->
                    <div class="btn-group">
                        <button type="button" @click="addTableRow()" class="btn btn-default" title="新建"><i
                                class="fa fa-file-o"></i> 新增规格选项
                        </button>

                    </div>

                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="sorting">规格选项</th>
                            <th class="sorting">排序</th>
                            <th class="sorting">操作</th>
                        </thead>
                        <tbody>
                        <tr v-for="option in entity.specificationOptionList">
                            <td>
                                <input v-model="option.optionName" class="form-control" placeholder="规格选项">
                            </td>
                            <td>
                                <input v-model="option.orders" class="form-control" placeholder="排序">
                            </td>
                            <td>
                                <button type="button" @click="deleteTableRow(index)" class="btn btn-default" title="删除">
                                    <i class="fa fa-trash-o"></i>
                                    删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button @click="add()" class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>