<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置生产者单例
        init-method：对象创建成功后调用的方法
        destroy-method:对象销毁前调用的方法
    -->
    <bean id="defaultMQProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer"
          init-method="start" destroy-method="shutdown">
        <!--配置组名-->
        <property name="producerGroup" value="pyg-user-service-producer-group"/>
        <!--配置NameServer-->
        <property name="namesrvAddr" value="127.0.0.1:9876"/>
    </bean>
</beans>